@model LBPUnion.ProjectLighthouse.PlayerData.Profiles.User

<form method="post" action="/admin/user/@Model.UserId/setGrantedSlots">
    @Html.AntiForgeryToken()
    <div>
        <button type="submit" class="bg-orange">
            <i class="bx bxs-pencil"></i>
            <span>Set Granted Slots</span>
        </button>
        <input class="box-margin" type="text" name="grantedSlotCount" placeholder="Granted Slots" value="@Model.AdminGrantedSlots">
    </div>
</form>