@page "/passwordReset"
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.PasswordResetPage
@using LBPUnion.ProjectLighthouse.Localization.StringLists

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Password Reset";
}

<script src="https://geraintluff.github.io/sha256/sha256.min.js"></script>

<script>
    function onSubmit(form) {
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirmPassword");
        const passwordSubmit = document.getElementById("password-submit");
        const confirmPasswordSubmit = document.getElementById("confirmPassword-submit");
        
        passwordSubmit.value = sha256(passwordInput.value);
        confirmPasswordSubmit.value = sha256(confirmPasswordInput.value);
        
        return true;
    }
</script>

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="container box-container box-background error">
        <div class="divider-dashed no-margin"></div>
        <div class="box-margin">
            <h3 class="header no-margin">
                @Model.Translate(GeneralStrings.Error)
            </h3>
            <p class="no-margin">@Model.Error</p>
        </div>
        <div class="divider-dashed no-margin"></div>
    </div>
}

<form onsubmit="return onSubmit(this)" method="post">
    @Html.AntiForgeryToken()

    <div>
        <label for="password">Password: </label>
        <input type="password" id="password">
        <input type="hidden" id="password-submit" name="password">
    </div>

    <div>
        <label for="password">Confirm Password: </label>
        <input type="password" id="confirmPassword">
        <input type="hidden" id="confirmPassword-submit" name="confirmPassword">
    </div>

    <input type="submit" value="Reset password and continue" id="submit" class="ui green button"><br>
</form>