@page "/photos/{pageNumber:int}"
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@using LBPUnion.ProjectLighthouse.PlayerData
@using LBPUnion.ProjectLighthouse.Types
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.PhotosPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = Model.Translate(BaseLayoutStrings.HeaderPhotos);
}

<p>There are @Model.PhotoCount total photos!</p>

<form action="/photos/0">
    <div class="input">
        <i class="bx bx-search"></i>
        <input class="no-input" type="text" autocomplete="off" name="name" placeholder="Search photos..." value="@Model.SearchValue">
    </div>
</form>
<div class="divider-solid"></div>
<div class="cardGrid-bigger">
@foreach (Photo photo in Model.Photos)
{
    <div class="photo">
        @await Html.PartialAsync("Partials/PhotoPartial", photo)
    </div>
}
</div>

@if (Model.PageNumber != 0)
{
    <a href="/photos/@(Model.PageNumber - 1)@(Model.SearchValue?.Length == 0 ? "" : "?name=" + Model.SearchValue)">Previous Page</a>
}
@(Model.PageNumber + 1) / @(Model.PageAmount)
@if (Model.PageNumber < Model.PageAmount - 1)
{
    <a href="/photos/@(Model.PageNumber + 1)@(Model.SearchValue?.Length == 0 ? "" : "?name=" + Model.SearchValue)">Next Page</a>
}