@page "/admin/reports/{pageNumber:int}"
@using LBPUnion.ProjectLighthouse.Administration.Reports
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.ReportsPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Reports";
}

<p>There are @Model.ReportCount total reports!</p>

<form action="/admin/reports/0">
    <div class="input">
        <i class="bx bx-search"></i>
        <input class="no-input" type="text" autocomplete="off" name="name" placeholder="Search reports..." value="@Model.SearchValue">
    </div>
</form>

<div class="divider-solid"></div>

<script>
    let subjects = [];
    let bounds = [];
    let canvases = [];
    let ctx = [];
    let images = [];
</script>
<div class="flex-grid">
    @foreach (GriefReport report in Model.Reports)
    {
        @await Html.PartialAsync("Partials/ReportPartial", report)
    }
</div>

@await Html.PartialAsync("Partials/RenderReportBoundsPartial")

@if (Model.PageNumber != 0)
{
    <a href="/admin/reports/@(Model.PageNumber - 1)@(Model.SearchValue.Length == 0 ? "" : "?name=" + Model.SearchValue)">Previous Page</a>
}
@(Model.PageNumber + 1) / @(Model.PageAmount)
@if (Model.PageNumber < Model.PageAmount - 1)
{
    <a href="/admin/reports/@(Model.PageNumber + 1)@(Model.SearchValue.Length == 0 ? "" : "?name=" + Model.SearchValue)">Next Page</a>
}