@page "/slots/{pageNumber:int}"
@using LBPUnion.ProjectLighthouse.Extensions
@using LBPUnion.ProjectLighthouse.Levels
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.SlotsPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = Model.Translate(BaseLayoutStrings.HeaderSlots);
}

<p>There are @Model.SlotCount total levels!</p>

<form action="/slots/0">
    <div class="input">
        <i class="bx bx-search"></i>
        <input class="no-input" type="text" autocomplete="off" name="name" placeholder="Search levels..." value="@Model.SearchValue">
    </div>
</form>
<div class="divider-solid"></div>

<div class="cardGrid">
@foreach (Slot slot in Model.Slots)
{
    bool isMobile = Model.Request.IsMobile();
        @await Html.PartialAsync("Partials/SlotCardPartial", slot, new ViewDataDictionary(ViewData)
        {
            {
                "User", Model.User
            },
            {
                "CallbackUrl", $"~/slots/{Model.PageNumber}"
            },
            {
                "ShowLink", true
            }
        })
}
</div>

<div class="pagination">
    @if (Model.PageNumber != 0)
    {
        <a href="/slots/@(Model.PageNumber - 1)@(Model.SearchValue?.Length == 0 ? "" : "?name=" + Model.SearchValue)">Previous Page</a>
    }
    @(Model.PageNumber + 1) / @(Model.PageAmount)
    @if (Model.PageNumber < Model.PageAmount - 1)
    {
        <a href="/slots/@(Model.PageNumber + 1)@(Model.SearchValue?.Length == 0 ? "" : "?name=" + Model.SearchValue)">Next Page</a>
    }
</div>